/*Custom CSS styles*/
body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/Olipipishub/Olis-hub/blob/main/xq7drehn.png?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.7); /*Black background with transparency*/
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff; /*Thin white border around buttons*/
    margin-top: 10px;
}

button:hover {
    background-color: #000;
}
